html {
    background-color: rgb(68, 53, 53);
}

div {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

a {
    color: black;
    font-weight: 300;
}

h1 {
    font-family: "Bradly hand";
}


